@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #ffffff;
  background: linear-gradient(135deg, #001f33 0%, #003b5c 100%);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
}
